
#how-to {
    width: unquote("min(93vw, 600px)");
    margin: auto;
}
.how-to-text {
    margin-bottom: 80px;
}

/* Disable keyboard help on mobile */
@media (max-width: 500px) {
    #keyboard-how-to {
        display: none;
    }
}
#keyboard-shortcuts {
    text-align: left;
}
