#LetterGetter {
    margin: auto;
}

#title-container {
    margin-top: 20px;
    margin-bottom: 40px;
}

#board-container {
    display: flex;
    justify-content: center;

    margin-bottom: 30px;
}


#submission-container {
    height: 50px;
    margin-bottom: 40px;
}
#valid-word {
    color: green;
}
#invalid-word {
    color: red;
}
