@import "_sass/_tile-variables";

.tile {
    width: $tile-width;
    height: $tile-width;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;
    font-family: "Lato", sans-serif;
}


.tile-container {
    margin: $tile-margin;
    position: relative;

    border: $tile-border-width solid $tile-border-color;
    border-radius: $tile-border-radius;

    transition-duration: 0.1s;
    &:hover {
        box-shadow: 0 0 $tile-shadow-blur-radius $tile-shadow-spread-radius $tile-shadow-color;
    }
}

.used-tile {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;

    cursor: not-allowed;

    background-color: inherit;
    color: $beige;
}

.unused-tile {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;

    cursor: pointer;
}
