@import "_sass/_tile-variables";

.tile {
    width: $tile-width;
    height: $tile-width;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;
    font-family: "Lato", sans-serif;
}


.used-tile {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;

    cursor: not-allowed;

    background-color: inherit;
    color: $beige;
}

.unused-tile {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;

    cursor: pointer;
}
