@import "_sass/_tile-variables";

.tile {
    width: $tile-width;
    height: $tile-width;

    margin: $tile-margin;
    padding: $tile-padding;
    border: $tile-border-width solid $tile-border-color;
    border-radius: $tile-border-radius;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;

    cursor: pointer;
    transition-duration: 0.1s;
    &:hover {
        background-color: inherit;
        color: $beige
    }
}
